@use "global";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
* {
    margin: 0 auto;
    padding: 0 0;
    font-family: 'Quicksand', sans-serif;
}
body {
    height: 1026px;
}
input:valid {
    width: 201px;
}