@media (max-width: 1200px) {
    .headet__main {
        display: inline-block;
    }
    .watch-animal {
        display: inline-block;
    }
    .how-works {
        display: inline-block;
    }
    .zoo-pets {
        display: inline-block;
    }
    .pay-section {
        display: inline-block;
    }
    .testimonials-section {
        display: inline-block;
    }
    .section-map {
        display: inline-block;
    }
    footer {
        display: inline-block;
    }
}